<%= form_for(@milestone, html: { role: "form" }) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :name, { prompt: "Select project"}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(milestone_statuses), { prompt: "Select status" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status_last_updated %>
    <%= f.text_field :status_last_updated, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :notes_last_updated %>
    <%= f.text_field :notes_last_updated, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <%= f.submit "Save Milestone", class: "btn btn-primary" %>
<% end %>
