<h1>Milestones</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Project</th>
      <th>User</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Status last updated</th>
      <th>Notes last updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.name %></td>
        <td><%= milestone.description %></td>
        <td><%= milestone.project.name %></td>
        <td><%= milestone.user.full_name %></td>
        <td><%= milestone.due_date %></td>
        <td><%= milestone.status %></td>
        <td><%= milestone.notes %></td>
        <td><%= milestone.status_last_updated %></td>
        <td><%= milestone.notes_last_updated %></td>
        <td><%= link_to 'Show', milestone %></td>
        <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Milestone', new_milestone_path, class: "btn btn-primary" %>
