<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @milestone.project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @milestone.user.full_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @milestone.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @milestone.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @milestone.notes %>
</p>

<p>
  <strong>Status last updated:</strong>
  <%= @milestone.status_last_updated %>
</p>

<p>
  <strong>Notes last updated:</strong>
  <%= @milestone.notes_last_updated %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
