<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div>
  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  <div><%= f.label :role %><br />
  <%= f.select :role, [['General User', 'General User'], ['Account Manager', 'Account Manager'], ['Executive', 'Executive'], ['Site Administrator', 'Site Administrator']] %><br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>
<%= link_to "Back", :back %>
