<%= form_for(@client, html: { role: "form" }) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "Account Manager" %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { :prompt => "Select user" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <%= f.submit "Save Client", class: "btn btn-primary" %>
<% end %>
