<%= form_for(@library, html: { role: "form" }) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :document_name %>
    <%= f.text_field :document_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :document_type %>
    <%= f.text_field :document_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :topic_id %>
    <%= f.number_field :topic_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.number_field :category_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Select client" }, { class: "form-control" }%>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <%= f.submit "Save Library", class: "btn btn-primary" %>
<% end %>
