<h1>Libraries</h1>
<table class="table">
  <thead>
    <tr>
      <th>Document name</th>
      <th>Description</th>
      <th>Document type</th>
      <th>Topic</th>
      <th>Category</th>
      <th>Client</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.document_name %></td>
        <td><%= library.description %></td>
        <td><%= library.document_type %></td>
        <td><%= library.topic_id %></td>
        <td><%= library.category_id %></td>
        <td><%= library.client.name %></td>
        <td><%= library.user.full_name %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Library', new_library_path, class: "btn btn-primary" %>
