<p id="notice"><%= notice %></p>

<p>
  <strong>Document name:</strong>
  <%= @library.document_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @library.description %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @library.document_type %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @library.topic_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @library.category_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @library.client.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @library.user.full_name %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
