<h1><s>Mike</s></h1>
<br/>
<div class="container-fluid">
	<div class="row show-grid">
		<div class="col-md-9" style="background-color:#f4c168;">to Do</div>
	</div>
	<div class="row show-grid">
		<div class="col-md-1">icon</div>
		<div class="col-md-8">Status Reports Due</div>
		<div class="col-md-1">icon</div>
		<div class="col-md-1">icon</div>
		<div class="col-md-1">icon</div>
	</div>
</div>
<br/>
<br/>
<div class="container-fluid">
	<div class="row show-grid">
		<div class="col-md-9" style="background-color:#75b9f9;">for Review</div>
	</div>
	<div class="row show-grid">
		<div class="col-md-1">icon</div>
		<div class="col-md-10">New Status Reports - Project On Track</div>
		<div class="col-md-1">icon</div>
	</div>
</div>
<br/>
<br/>
<div class="container-fluid">
	<div class="row show-grid">
		<div class="col-md-9" style="border:0px;">
			<div class="row show-grid">
				<div class="col-md-12">alerts</div>
			</div>
			<div class="row show-grid">
				
					<div class="col-md-4" style="border:0px;">
						<div class="row show-grid">
							<div class="col-md-12">
								
								
								<div class="row show-grid">
		<div class="col-md-9" style="background-color:#f4c168;">to Do</div>
	</div>
	<div class="row show-grid">
		<div class="col-md-1">.</div>
		<div class="col-md-8">.</div>
		<div class="col-md-1">.</div>
		<div class="col-md-1">.</div>
		<div class="col-md-1">.</div>
	</div>

								
								
							</div>
						</div>
						<div class="row show-grid">
							<div class="col-md-12">
								
								
								<div class="row show-grid">
		<div class="col-md-9" style="background-color:#75b9f9;">for Review</div>
	</div>
	<div class="row show-grid">
		<div class="col-md-1" style="font-size:10px;">icon</div>
		<div class="col-md-10" style="font-size:10px;">New Status Reports - Project On Track</div>
		<div class="col-md-1" style="font-size:10px;">icon</div>
	</div>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-8">active projects</div>
				
			</div>
		</div>
		<div class="col-md-3">menu item<br>menu item<br>menu item</div>
	</div>
</div>
