<style>
	.content-box {
		box-sizing: border-box;
		background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
  	margin-bottom:14px;
  	padding: 1em;
	}

	.rounded {
		border-radius:4px;
	}

	.rounded-left {
			border-radius: 4px 0 0 4px;
	}

	.rounded-right {
		border-radius: 0 4px 4px 0;
	}

	.grey {
		background-color:#F7F7F9;
  	border:1px solid #E1E1E8;
	}

	th {
		text-align: center;
	}

	.blue {
		background-color: #D9EDF7;
	}

	.green {
		background-color: #DFF0D8;
	}
	.beige {
		background-color: #FCF8E3;
	}

	.red {
		background-color: #f2dede;
	}

	h2, h4 {
		margin-top:0;
		padding-top:0;
	}
	.more {
		font-weight: 400;
		font-size: .7em;
	}
	.padding {
		padding-left: 5px;
	}
	.currency {
		text-align: right;
	}
</style>
<h2>Client Name</h2>
<div class="containe-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="content-box rounded">
				<h4 style="text-align:center;">Notices & News <span class="more">(<a href="#">see all 5</a>)</span></h4>
				<p><b>Posting Title 1 First in Bold (link)</b> Here is the text of the posting. It’s only the first 100 characters, maybe less... <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>Posting Title 2 First in Bold (link)</b> Here is the text of the posting. It’s only the first 100 characters, maybe less... <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>Posting Title 3 First in Bold (link)</b> Here is the text of the posting. It’s only the first 100 characters, maybe less... <span class="more">(<a href="#">more</a>)</span></p>
			</div>
			<div class="content-box rounded">
				<h4 style="text-align:center;">Frequently Asked Questions <span class="more">(<a href="#">see all 14</a>)</span></h4>
				<p><b>How do I access documents that are ready for me to work on?</b> <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>What do all those acronyms mean?</b> <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>Question 3</b> <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>Question 4</b> <span class="more">(<a href="#">more</a>)</span></p>
				<p><b>Question 5</b> <span class="more">(<a href="#">more</a>)</span></p>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="content-box rounded beige">Client Action Items (default: expanded for items not yet complete or canceled)</div>
			</div>
			<div class="row">
				<div class="col-md-6 content-box rounded-left blue">Action Item</div><div class="col-md-2 content-box blue">Owner</div><div class="col-md-2 content-box grey">Due Date</div><div class="col-md-2 content-box rounded-right red">Status</div>
			</div>
			<div class="row">
				<div class="content-box rounded beige">Client Projects (default: expanded with milestones expanded)</div>
			</div>
			<div class="row">
				<div class="col-md-6 content-box rounded-left blue">Project Name</div><div class="col-md-2 content-box blue">Owner</div><div class="col-md-2 content-box grey">Due Date</div><div class="col-md-2 content-box rounded-right green">Status</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 content-box rounded-left blue">Milestone Name</div><div class="col-md-2 content-box blue">Owner</div><div class="col-md-2 content-box grey">Due Date</div><div class="col-md-2 content-box rounded-right green">Status</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 content-box rounded-left blue">Milestone Name</div><div class="col-md-2 content-box blue">Owner</div><div class="col-md-2 content-box grey">Due Date</div><div class="col-md-2 content-box rounded-right green">Status</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 content-box rounded-left blue">Milestone Name</div><div class="col-md-2 content-box blue">Owner</div><div class="col-md-2 content-box grey">Due Date</div><div class="col-md-2 content-box rounded-right green">Status</div>
			</div>
			<div class="row">
				<table class="table table-bordered table-hover rounded">
					<thead>
						<tr><th colspan="5" class="beige">Finance Summary</th></tr>
						<tr><th>Month</th><th>Service Billing</th><th>Subcontractor Cost</th><th>Expense</th><th>Gross Profit</th></tr>
					</thead>
					<tbody>
						<tr><td>January 2014</td><td class="currency">$5000.00</td><td class="currency">$2500.00</td><td class="currency">$500.00</td><td class="currency">$2000.00</td></tr>
						<tr><td>February 2014</td><td class="currency">$5000.00</td><td class="currency">$2500.00</td><td class="currency">$500.00</td><td class="currency">$2000.00</td></tr>
						<tr><td>March 2014</td><td class="currency">$5000.00</td><td class="currency">$2500.00</td><td class="currency">$500.00</td><td class="currency">$2000.00</td></tr>
						<tr><td>April 2014</td><td class="currency">$5000.00</td><td class="currency">$2500.00</td><td class="currency">$500.00</td><td class="currency">$2000.00</td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2">
			<div class="content-box"><h4 style="text-align:center">Client Since</h4><p style="text-align:center;">12/01/2014</p><h4 style="text-align:center">Account Manager</h4><p style="text-align:center;">Jess Dravida</p><h4 style="text-align:center">Primary Client Contact</h4><p style="text-align:center;">Jess Dravida</p></div>
			<div class="content-box"><h4 style="text-align:center">My Library</h4></div>
			<div class="content-box"><h4 style="text-align:center">Contact List</h4></div>
			<div class="content-box"><h4 style="text-align:center">Manage Permissions</h4></div>
		</div>
	</div>
</div>