<%= form_for(@contact, html: { role: "form" }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :primary_phone %>
    <%= f.text_field :primary_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :secondary_phone %>
    <%= f.text_field :secondary_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address_2 %>
    <%= f.text_field :address_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states), { prompt: "Select state" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: "form-control" %>
  </div>
  <div class="checkbox">
    <%= f.label :pc_team_member do %>
      <%= f.check_box :pc_team_member %>
      PC Team Member
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :supervisor_id %>
    <%= f.collection_select :supervisor_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <div class="checkbox">
    <%= f.label :primary_contact do %>
      <%= f.check_box :primary_contact %>
      Primary Contact
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Select client" }, { class: "form-control" }%>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <%= f.submit "Save Contact", class: "btn btn-primary" %>
<% end %>
