<h1>Contacts</h1>
<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Primary phone</th>
      <th>Secondary phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Pc team member</th>
      <th>Supervisor</th>
      <th>Primary contact</th>
      <th>Client</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.primary_phone %></td>
        <td><%= contact.secondary_phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.address %></td>
        <td><%= contact.address_2 %></td>
        <td><%= contact.city %></td>
        <td><%= contact.state %></td>
        <td><%= contact.zip %></td>
        <td><%= contact.pc_team_member %></td>
        <td><%= contact.supervisor.full_name %></td>
        <td><%= contact.primary_contact %></td>
        <td><%= contact.client.name %></td>
        <td><%= contact.user.full_name %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %>
