<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @contact.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @contact.secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @contact.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @contact.zip %>
</p>

<p>
  <strong>Pc team member:</strong>
  <%= @contact.pc_team_member %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @contact.supervisor.full_name %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @contact.primary_contact %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contact.client.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user.full_name %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
