<%= form_for(@project, html: { role: "form" }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Select client" }, { class: "form-control" }%>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(project_statuses), { prompt: "Select status" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :system_status %>
    <%= f.select :system_status, options_for_select(system_statuses), { prompt: "Select system status" }, { class: "form-control" } %>
  </div>
  <%= f.submit "Save Project", class: "btn btn-primary" %>
<% end %>
