<h1>Projects</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Client</th>
      <th>User</th>
      <th>Status</th>
      <th>System status</th>
      <th>Created by</th>
      <th>Milestones</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.client.name %></td>
        <td><%= project.user.full_name %></td>
        <td><%= project.status %></td>
        <td><%= project.system_status %></td>
        <td><%= project.creator.full_name %></td>
	<td><%= link_to project.milestones.count, client_project_milestones_path(project.client, project) %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
