<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.full_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>System status:</strong>
  <%= @project.system_status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project.creator.full_name %>
</p>
<p>
  <strong>Milestones:</strong>
</p>
<%= render partial: "milestones/table", locals: { milestones: @project.milestones } %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
