/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker";


 @-moz-document url-prefix() {
   fieldset { display: table-cell; }
 }
.show-grid {
/*	margin-top:4px */
	}
		
.show-grid [class^=col-] {
/*	padding-top:10px;
	padding-bottom:10px; */
	background-color:#fff;
/*	background-color:rgba(86,61,124,.15); */
	border:1px solid #ddd;
/*	border:1px solid rgba(86,61,124,.2) */
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-ms-border-radius: 6px;
  	border-radius: 6px;
	}
