<%= form_for(@action_item, html: { role: "form" }) do |f| %>
  <% if @action_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_item.errors.count, "error") %> prohibited this action_item from being saved:</h2>
      <ul>
      <% @action_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :action_type %><br>
    <%= f.select :action_type, options_for_select(action_types), { prompt: "Select type" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :process_id %><br>
    <%= f.number_field :process_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :project_id %><br>
    <%= f.collection_select :project_id, Project.all, :id, :name, { prompt: "Select project" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :milestone_id %><br>
    <%= f.collection_select :milestone_id, Milestone.all, :id, :name, { prompt: "Select milestone" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, { prompt: "Select user" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(action_statuses), { prompt: "Select status" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Select client" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :entered_by %><br>
    <%= f.collection_select :entered_by, User.all, :id, :full_name, {prompt: "Select user"}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :status_last_updated %><br>
    <%= f.text_field :status_last_updated, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :notes_last_updated %><br>
    <%= f.text_field :notes_last_updated, class: "form-control", :'data-provide' => "datepicker" %>
  </div>
  <%= f.submit "Save Action Item", class: "btn btn-primary" %>
<% end %>
