<h1>Action Items</h1>
<table class="table">
  <thead>
    <tr>
      <th>Short description</th>
      <th>Details</th>
      <th>Action type</th>
      <th>Process</th>
      <th>Project</th>
      <th>Milestone</th>
      <th>User</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Client</th>
      <th>Entered by</th>
      <th>Status last updated</th>
      <th>Notes last updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @action_items.each do |action_item| %>
      <tr>
        <td><%= action_item.short_description %></td>
        <td><%= action_item.details %></td>
        <td><%= action_item.action_type %></td>
        <td><%= action_item.process_id %></td>
        <td><%= action_item.project.name %></td>
        <td><%= action_item.milestone.name %></td>
        <td><%= action_item.user.full_name %></td>
        <td><%= action_item.due_date %></td>
        <td><%= action_item.status %></td>
        <td><%= action_item.notes %></td>
        <td><%= action_item.client.name %></td>
        <td><%= action_item.entered_by %></td>
        <td><%= action_item.status_last_updated %></td>
        <td><%= action_item.notes_last_updated %></td>
        <td><%= link_to 'Show', action_item %></td>
        <td><%= link_to 'Edit', edit_action_item_path(action_item) %></td>
        <td><%= link_to 'Destroy', action_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Action Item', new_action_item_path, class: "btn btn-primary" %>
