<p id="notice"><%= notice %></p>

<p>
  <strong>Short description:</strong>
  <%= @action_item.short_description %>
</p>

<p>
  <strong>Details:</strong>
  <%= @action_item.details %>
</p>

<p>
  <strong>Action type:</strong>
  <%= @action_item.action_type %>
</p>

<p>
  <strong>Process:</strong>
  <%= @action_item.process_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @action_item.project.name %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @action_item.milestone.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @action_item.user.full_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @action_item.due_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @action_item.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @action_item.notes %>
</p>

<p>
  <strong>Client:</strong>
  <%= @action_item.client.name %>
</p>

<p>
  <strong>Entered by:</strong>
  <%= @action_item.entered_by %>
</p>

<p>
  <strong>Status last updated:</strong>
  <%= @action_item.status_last_updated %>
</p>

<p>
  <strong>Notes last updated:</strong>
  <%= @action_item.notes_last_updated %>
</p>

<%= link_to 'Edit', edit_action_item_path(@action_item) %> |
<%= link_to 'Back', action_items_path %>
