<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stractegize</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	<li><a href="/users">Users</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/libraries">Libraries</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/milestones">Milestones</a></li>
        <li><a href="/action_items">Action Items</a></li>
        <li><a href="#">...</a></li>
        <li><a href="/pages/test2.html">Layout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
